body {
    background-color: lightslategray;
    justify-content: center;
}
h1 {
    font-family: Helvetica;
    font-size: 1.5em;
}
p, h2 {
    font-family: Helvetica;
    font-size: 1em;
}
.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px black;
    padding: 5px;
    width: 18%;
    background-color: whitesmoke;
}
.form-box2 {
    display:flex;
    flex-direction: column;
    border: solid 3px black;
    padding: 5px;
    background-color: whitesmoke;
}
.parentbox{
    display:flex;
    flex-direction: row;
}
.headline-box {
    display: flex;
    border: solid 3px black;
    justify-content: center;
}